<!--moje linki-->
<section id="mylinks" class="font-monospace fs-6">
  <div class="resume-section">
    <div class="card  shadow-lg m-3" style="background-color: #778da9ff;">
      <div class="card-body">
        <h4 class="card-title">go to ...</h4>
        <app-weblinks></app-weblinks>
      </div>
    </div>
  </div>


</section>

<!--sekcja myweight-->
<section id="my_weight">

  <div class="resume-section">
    <div class="card  shadow-lg m-3">
      <div class="card-body">
        <h4 class="card-title">My weight history</h4>

        <!-- formularz -->
        <div class="row m-3">
          <div class="col">
            <app-weightform (dayWeight)="getData($event)"></app-weightform>
          </div>
        </div>
        <!-- tabelka, wykres -->
        <div class="row m-3">
          <div class="col">
            <app-weightchart></app-weightchart>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--sekcja currency-->

<section id="currency">
  <div class="resume-section">
    <div class="row mt-3">
      <app-currency></app-currency>
    </div>
  </div>
    <!--    <div class="card  shadow-lg m-3">-->
    <!--      <div class="card-body">-->
    <!--        <h4 class="card-title">Currency table</h4>-->


    <!--        <div class="row m-3">-->
    <!--          &lt;!&ndash; formularz &ndash;&gt;-->
    <!--          <div class="col-6">-->
    <!--            <app-currencyform></app-currencyform>-->
    <!--          </div>-->
    <!--          &lt;!&ndash; tabelka, wykres &ndash;&gt;-->
    <!--          <div class="col-6">-->
    <!--            <app-currencytable></app-currencytable>-->
    <!--          </div>-->
    <!--        </div>-->

    <!--      </div>-->
    <!--    </div>-->
</section>

