<div class="card border-secondary m-3 font-monospace shadow">
  <div class="card-body">
    <h4 class="card-title font-monospace ">Currency table</h4>
    <hr>
<!--    zmiana daty-->
    <form class="row g-2 mt-3">
      <div class="col-auto">
        <div class=" input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">date</span>
<!--          <input type="date" name="data" [(ngModel)]="currencyDate" class="form-control" aria-label="Sizing example input"-->
<!--                 aria-describedby="inputGroup-sizing-sm" value="currencyDate">-->
          <input type="date" name="data" [(ngModel)]="currencyDate" class="form-control" value="01.01.2022">
        </div>
      </div>
      <div class="col-auto">
        <button (click)="btnChangeDate()" type="submit" class="btn btn-outline-secondary text-white mb-3 btn-sm"
                style="background-color: #778da9ff;"> Change table
        </button>
      </div>
    </form>

    <hr>
<!--    wyświetlanie tabeli kursów-->
    <table class="table table-striped">
      <thead>
      <tr>

        <th scope="col">Cod</th>
        <th scope="col">Currency</th>
        <th scope="col">Ask</th>
        <th scope="col">Bid</th>

      </tr>
      </thead>
      <tbody *ngIf="currencyData">
      <tr *ngFor="let currency of currencyData[0].rates; index as i">

        <th scope="row">{{currency.code}}</th>
        <td>
          {{currency.currency}}
        </td>
        <td>
          {{ currency.ask | number }} PLN
        </td>
        <td>
          {{ currency.bid | number }} PLN
        </td>
        <td>
          <img [src]="imgURL" width="25" height="25">
        </td>

      </tr>

      </tbody>
    </table>
  </div>
</div>
